<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simpleryo.leyotang">




    <permission
        android:name="com.simpleryo.leyotang.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />

    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <permission
        android:name="com.simpleryo.leyotang.push.permission.MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.simpleryo.leyotang.push.permission.MESSAGE" />

    <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.simpleryo.leyotang.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.simpleryo.leyotang.permission.C2D_MESSAGE" />
    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.simpleryo.leyotang.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:name="com.simpleryo.leyotang.app.SimpleryoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/iv_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iv_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>
        <activity
            android:name="com.simpleryo.leyotang.activity.SplashActivity"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MyCourseActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MyInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.BindAccontActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.CourseListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MyAttentionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MyCollectionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.MyOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.ComplaintProposalActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.simpleryo.leyotang.activity.BusinessHomeActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.MyMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.MyNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.RemarkCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.AllCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.CourseSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.MyCourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.UseHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.simpleryo.leyotang.activity.ComfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.simpleryo.leyotang.activity.CourseTypeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.HistoryRecordsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.HistoryRecordsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.MyCouponsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.CoachHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.CouponsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.simpleryo.leyotang.activity.CourseFilterActivity"
            android:screenOrientation="portrait"/>
        <!-- 添加自适应布局的设计尺寸-->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.simpleryo.leyotang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-9vX_TpuLt0Mz2cM6CAJe6i8OEbfWbGE" />




        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel"/>

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.simpleryo.leyotang.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="com.simpleryo.leyotang.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <!-- mipush -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="org.android.agoo.xiaomi.MiPushBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!-- huawei push -->
        <receiver android:name="org.android.agoo.huawei.HuaWeiReceiver">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <activity android:name=".push.MipushActivity"
            android:launchMode="singleTask"
            android:exported="true"
            ></activity>

        <!-- meizu push -->
        <service
            android:name="com.meizu.cloud.pushsdk.NotificationService"
            android:exported="true" />

        <receiver
            android:name="com.meizu.cloud.pushsdk.SystemReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.meizu.cloud.pushservice.action.PUSH_SERVICE_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name="com.simpleryo.leyotang.push.MyNotificationService" />
        <service android:name="com.simpleryo.leyotang.push.UmengNotificationService" />
        <receiver android:name="com.simpleryo.leyotang.push.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.simpleryo.token"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="net.latipay.mobile.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="net.latipay.mobile.WXPayEntryActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--1104087112943046-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2121752104719489"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource"
            />
    </application>

</manifest>